<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <div>
      <a href="https://github.com/prayujt/city.io" target="_blank" class="positronx">city.io</a>
      <a id="game_button" mat-button mat-raised-button routerLink="game" routerLinkActive="active">Game</a>
    </div>
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
</mat-toolbar>
<router-outlet></router-outlet>