.game {
    display: flex;
    height: 100%;
    width: 70%;
            flex-direction: row;
            align-items: center;
    }

    .game_board table td, .content table th {
        border: 1px solid #dbdbdb;
        background-color: #90ee90;
        height: 10.3vh;
        width: 10.3vh;
        text-align: center;
        font-size: 60px;
    }
        .selected {
            background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
        }

    .game_board table td:hover {
        background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    }

    .bottom_menu {
        background-color: white;
        bottom: 0;
        position: fixed;
        width: 100%;
    }

    .menu_tiles {
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .mat-drawer { /* sidebar */
        width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logout-button {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        background-color: rgb(255, 0, 0);
        height: 30px;
    }
    .logout-button:hover {
        background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    }

    .scout-button {
        order: 0;
        align-items: center;
        height: 100px;
        width: 300px;
        font-size: 45px;
        margin: auto;
        color: white;
        background-color: rgb(46, 197, 0);
    }
    .scout-button:hover {
        background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    }

    .display-box {
        height: 550px;
        width: 350px;
        border-radius: 5px;
        margin: auto;
        background-color: rgb(230, 230, 230);
    }