.game {
    display: flex;
    height: 100%;
    width: 70%;
            flex-direction: row;
            align-items: center;
    }

    .game_board table td, .content table th {
        border: 1px solid #dbdbdb;
        background-color: #90ee90;
        height: 10.3vh;
        width: 10.3vh;
        text-align: center;
        font-size: 60px;
    }

    .bottom_menu {
        background-color: white;
        bottom: 0;
        position: fixed;
        width: 100%;
    }

    .menu_tiles {
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }