<mat-drawer-container [hasBackdrop]="false">
    <!-- SIDEBAR -->
    <mat-drawer mode="over" opened class="mat-drawer" position="end">
        <game-sidebar
            [row]="row"
            [column]="column"
            [sessionId]="sessionId"
        ></game-sidebar>
    </mat-drawer>

    <!-- MAIN CONTENT -->
    <mat-drawer-content>
        <div class="game_board">
            <table>
                <tr *ngFor="let block of buildings">
                    <td
                        data-id="{{ building.row }} {{ building.column }}"
                        class="tile"
                        *ngFor="let building of block"
                        (click)="onTileClick(building.row, building.column)"
                    >
                        {{ building.building_icon }}
                    </td>
                </tr>
            </table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<!-- <mat-tab-group class="bottom_menu">
    <mat-tab label="Buildings">
        <mat-grid-list cols="8" rowHeight="80px">
            <mat-grid-tile class="menu_tiles">🏠</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏢</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏥</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏦</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏨</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏩</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏫</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏭</mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Unique Buildings"></mat-tab>
</mat-tab-group> -->
