<div class="game">
    <div class="game_board">
        <table>
            <tr *ngFor="let block of buildings">
                <td *ngFor="let building of block" (click)="onTileClick()">
                    {{building.building_icon}}
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- <mat-tab-group class="bottom_menu">
    <mat-tab label="Buildings">
        <mat-grid-list cols="8" rowHeight="80px">
            <mat-grid-tile class="menu_tiles">🏠</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏢</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏥</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏦</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏨</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏩</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏫</mat-grid-tile>
            <mat-grid-tile class="menu_tiles">🏭</mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Unique Buildings"></mat-tab>
</mat-tab-group> -->