<mat-drawer-container [hasBackdrop]="false">
    <!-- SIDEBAR -->
    <mat-drawer mode="over" opened class="mat-drawer" position="end">
        <game-sidebar
            [row]="row"
            [column]="column"
            [jwtToken]="jwtToken"
            [isOwner]="isOwner"
            (buildBuilding)="onBuildingClick($event)"
        ></game-sidebar>
    </mat-drawer>

    <!-- MAIN CONTENT -->
    <mat-drawer-content>
        <div class="game_board">
            <table>
                <tr *ngFor="let block of buildings">
                    <td
                        data-id="{{ building.row }} {{ building.column }}"
                        class="tile"
                        *ngFor="let building of block"
                        (click)="onTileClick(building.row, building.column)"
                    >
                        {{ building.building_icon }}
                    </td>
                </tr>
            </table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
