<!-- SIDEBAR CONTENT -->
<div class="sidebar-container">
    <mat-card class="city-information">
        <mat-card-header>
            <mat-card-title>
                <a>{{ cityName }}</a>
            </mat-card-title>
            <a
                *ngIf="isOwner"
                mat-button
                (click)="editCityName()"
                matTooltip="Edit City Name"
                ><mat-icon fontIcon="edit"></mat-icon
            ></a>
            <a
                *ngIf="!isOwner"
                mat-button
                (click)="goHome()"
                matTooltip="Return Home"
                ><mat-icon fontIcon="home"></mat-icon
            ></a>
            <a
                *ngIf="isOwner"
                mat-button
                matTooltip="Train Troops"
                (click)="openTrainDialog()"
                ><mat-icon fontIcon="group_add"></mat-icon
            ></a>
            <a
                mat-button
                matTooltip="Scout"
                (click)="openCityDialog()"
                ><mat-icon fontIcon="search"></mat-icon
            ></a>
            <a
                mat-button
                (click)="openMarchesDialog()"
                matTooltip="View Marches"
                ><mat-icon fontIcon="directions_walk"></mat-icon
            ></a>
            <mat-card-subtitle>
                {{ cityOwner }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="city-properties">
            <p class="player-balance" matTooltip="DobraCoins">
                {{
                    cityOwner === "Neutral"
                        ? ""
                        : "🪙" + playerBalance.toLocaleString("en-US")
                }}
            </p>
            <p *ngIf="isOwner || armySize != -1" matTooltip="Army Size">
                {{ armySize === -1 ? "" : armySize.toLocaleString("en-US") }}
            </p>
        </mat-card-content>
    </mat-card>
    <div class="sidebar-buttons">
        <a
            *ngIf="!isOwner"
            (click)="openAttackDialog()"
            mat-button
            class="attack-button"
            >Attack!⚔️</a
        >
    </div>
    <div *ngIf="clicked">
        <mat-card class="building-information">
            <mat-card-header>
                <mat-card-title>
                    {{
                        buildingType === ""
                            ? isOwner
                                ? "🚧 Buildings Available 🚧"
                                : "No building is selected"
                            : buildingType
                    }}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ buildingLevel === 0 ? "" : "Level " + buildingLevel }}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content *ngIf="buildingType == '' && isOwner">
                <br />
                <br />
                <mat-accordion>
                    <mat-expansion-panel
                        *ngFor="let building of constructableBuildings"
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title class="constructable"
                                >{{ building.type }}
                                {{ building.icon }}</mat-panel-title
                            >
                        </mat-expansion-panel-header>
                        <mat-list>
                            <mat-list-item
                                >Production 🪙: ${{
                                    building.production
                                }}/hr</mat-list-item
                            >
                            <mat-list-item
                                >Happiness 🙂:
                                {{ building.happiness_change }}</mat-list-item
                            >
                            <mat-list-item
                                >Build Cost:
                                {{ building.build_cost }}</mat-list-item
                            >
                            <mat-list-item
                                >Build Time:
                                {{ building.build_time }}</mat-list-item
                            >
                            <button
                                mat-fab
                                extended
                                (click)="constructBuilding(building.type); playAudio('build.mp3')"
                            >
                                Build it!
                            </button>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>

            <mat-card-content *ngIf="buildingType != ''">
                <br />
                <br />
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Production 🪙 </mat-panel-title>
                            <mat-panel-description>
                                ${{ buildingProduction }}/hr
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Production is the rate at which this building
                            produces money for your city.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Happiness 🙂 </mat-panel-title>
                            <mat-panel-description>
                                {{ happinessChange }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Happiness represents how this building affects
                            population growth in your city.
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>

                <button
                    *ngIf="isOwner && !progBar"
                    class="upgrade-button"
                    mat-flat-button
                    color="accent"
                    (click)="upgrade()"
                >
                    Upgrade
                </button>
                <button
                    *ngIf="isOwner && progBar"
                    class="upgrade-button"
                    mat-flat-button
                    disabled
                    (click)="upgrade()"
                >
                    Upgrade
                </button>
                <button
                    *ngIf="isOwner"
                    class="delete-button"
                    mat-flat-button
                    (click)="openDeleteDialog()"
                >
                    Delete
                </button>
            </mat-card-content>
            <mat-card-footer class="progress-bar">
                <div *ngIf="progBar">
                    <mat-progress-bar
                        mode="determinate"
                        [value]="progress"
                    ></mat-progress-bar>
                    <br />
                    <h3 class="timer" style="text-align: center">
                        <div *ngIf="dd != 0" class="timer-container">
                            <span id="days"> {{ dd }} </span>Day(s)
                        </div>
                        <div
                            *ngIf="hh != 0 || (dd != 0 && hh == 0)"
                            class="timer-container"
                        >
                            <span id="hours"> {{ hh }} </span>Hrs
                        </div>
                        <div
                            *ngIf="mm != 0 || (hh != 0 && mm == 0)"
                            class="timer-container"
                        >
                            <span id="minutes"> {{ mm }} </span>Min
                        </div>
                        <div
                            *ngIf="ss != 0 || (mm != 0 && ss == 0)"
                            class="timer-container"
                        >
                            <span id="seconds"> {{ ss }} </span>S
                        </div>
                    </h3>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
    <a
        mat-button
        routerLink="login"
        routerLinkActive="active"
        class="logout-button"
        (click)="logOut(); playAudio('logout.mp3')"
        >Log out</a
    >
</div>
