.sidebar-buttons {
    width: 100%;
}

.logout-button {
    width: 15%;
    height: 30px;
    margin-top: 0px;
}
.logout-button:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.scout-button {
    height: 100px;
    width: 80%;
    font-size: 45px;
}

.scout-button:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.display-box {
    height: fit-content;
    width: 90%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
}

.upgrade-button {
    margin-top: 60%;
    margin-left: 25%;
    width: 50%;
    height: 50px;
}

.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
}

.timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
}

.timer-container {
    display: inline;
}

.progress-bar {
    margin-top: 5%;
}
