.sidebar-buttons {
    width: 100%;
}

.logout-button {
    width: 20%;
    height: 30px;
    margin-left: 75%;
    margin-top: 2%;
    background-color: red;
    color: white;
}

.attack-button {
    background-color: rgb(255, 166, 0);
    color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
}

.logout-button:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.scout-button {
    margin-top: 5%;
    margin-left: 0%;
    width: 50%;
    height: 50px;
    color: white;
    background-color: rgb(109, 214, 29);
}

.player-balance {
    font-family: "Roboto", sans-serif;
    color: green;
    font-size: 14px;
    font-weight: 300;
}

/* .city-information:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
} */

.building-information {
    height: fit-content;
    width: 90%;
    border-radius: 5px;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
}

.train-button {
    color: black;
    background-color: orange;
}

.train-button-2 {
    margin-left: 90%;
}

.upgrade-button {
    margin-top: 60%;
    margin-left: 25%;
    width: 50%;
    height: 50px;
}

.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
}

.timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
}

.timer-container {
    display: inline;
}

.progress-bar {
    margin-top: 5%;
}

.constructable {
    font-size: 1.25em;
}

.city-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}