<h1 mat-dialog-title>Your Territory</h1>
<div mat-dialog-content>
    <div role="list" *ngFor="let city of territory">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{ city.cityName }}
                </mat-card-title>
                <mat-card-subtitle>
                    🪙{{ city.totalProduction.toLocaleString("en-US") }} / hour
                </mat-card-subtitle>
                <mat-card-subtitle>
                    {{ city.armySize.toLocaleString("en-US") }} troops
                </mat-card-subtitle>
                <mat-card-subtitle>
                    Population:
                    {{ city.totalPopulation.toLocaleString("en-US") }}
                </mat-card-subtitle>
                <button
                    mat-button
                    color="primary"
                    (click)="visitCity(city.cityName)"
                >
                    Visit
                </button>
                <button
                    mat-button
                    color="warn"
                    (click)="reinforce(city.cityName)"
                >
                    Reinforce
                </button>
            </mat-card-header>
        </mat-card>
    </div>
</div>
