<h1 mat-dialog-title>Train Troops</h1>
<div mat-dialog-content>
    <div *ngIf="!progBar">
        <div>
            <h3>Enter number of troops to train:</h3>
            <label>{{ armySize }}</label>
        </div>
        <mat-slider
            style="width: 95%"
            [max]="maxCap"
            [min]="1"
            [step]="1"
            [discrete]="true"
        >
            <input matSliderThumb [(ngModel)]="armySize" />
        </mat-slider>
        <a mat-button color="accent" class="train-button-2" (click)="train()">
            Train
        </a>
    </div>
    <mat-card-footer class="progress-bar">
        <div *ngIf="progBar">
            <h1>Currently training {{ armySize }} troops</h1>
            <mat-progress-bar
                mode="determinate"
                [value]="progress"
            ></mat-progress-bar>
            <br />
            <h3 class="timer" style="text-align: center">
                <div *ngIf="dd != 0" class="timer-container">
                    <span id="days"> {{ dd }} </span>Day(s)
                </div>
                <div
                    *ngIf="hh != 0 || (dd != 0 && hh == 0)"
                    class="timer-container"
                >
                    <span id="hours"> {{ hh }} </span>Hrs
                </div>
                <div
                    *ngIf="mm != 0 || (hh != 0 && mm == 0)"
                    class="timer-container"
                >
                    <span id="minutes"> {{ mm }} </span>Min
                </div>
                <div
                    *ngIf="ss != 0 || (mm != 0 && ss == 0)"
                    class="timer-container"
                >
                    <span id="seconds"> {{ ss }} </span>S
                </div>
            </h3>
        </div>
    </mat-card-footer>
</div>
