<h1 mat-dialog-title>Train Troops</h1>
<div mat-dialog-content>
    <div *ngIf="!progBar">
        <mat-card *ngIf="maxCap == 0">
            <mat-card-header>
                <mat-card-title style="color: black">
                    No Barracks Available To Train Troops!
                </mat-card-title>
            </mat-card-header>
            <mat-card-content></mat-card-content>
        </mat-card>
        <div *ngIf="maxCap != 0">
            <h2>Enter number of troops to train:</h2>
            <label>Troops: {{ trainArmySize }} | Cost: {{ (trainArmySize * 1000).toLocaleString("en-US") }}</label>
        </div>
        <mat-slider
            *ngIf="maxCap != 0"
            style="width: 95%"
            [max]="maxCap"
            [min]="1"
            [step]="1"
            [discrete]="true"
        >
            <input matSliderThumb [(ngModel)]="trainArmySize" />
        </mat-slider>
        <a
            *ngIf="maxCap != 0"
            mat-button
            color="accent"
            class="train-button-2"
            (click)="train()"
        >
            Train
        </a>
        <a
            *ngIf="maxCap != 0"
            mat-raised-button
            color="accent"
            class="train-button-3"
            (click)="trainMax()">
            Train Max
        </a>
    </div>
    <mat-card-footer class="progress-bar">
        <div *ngIf="progBar">
            <h1>Currently training {{ armySize }} troops</h1>
            <mat-progress-bar
                mode="determinate"
                [value]="progress"
            ></mat-progress-bar>
            <br />
            <h3 class="timer" style="text-align: center">
                <div *ngIf="dd != 0" class="timer-container">
                    <span id="days"> {{ dd }} </span>Day(s)
                </div>
                <div
                    *ngIf="hh != 0 || (dd != 0 && hh == 0)"
                    class="timer-container"
                >
                    <span id="hours"> {{ hh }} </span>Hrs
                </div>
                <div
                    *ngIf="mm != 0 || (hh != 0 && mm == 0)"
                    class="timer-container"
                >
                    <span id="minutes"> {{ mm }} </span>Min
                </div>
                <div
                    *ngIf="ss != 0 || (mm != 0 && ss == 0)"
                    class="timer-container"
                >
                    <span id="seconds"> {{ ss }} </span>S
                </div>
            </h3>
        </div>
    </mat-card-footer>
</div>
