<h1 mat-dialog-title>Upgrade {{ buildingType }}</h1>
<div mat-dialog content>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <mat-card class="building-information">
                <mat-card-header>
                    <mat-card-title>
                        Before Upgrade
                    </mat-card-title>
                    <mat-card-subtitle>
                        Level {{ oldLevel }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item
                            >Production 🪙: ${{
                                oldProduction
                            }}/hr</mat-list-item
                        >
                        <mat-list-item
                            >Happiness 🙂:
                            {{ oldHappiness }}</mat-list-item
                        >
                        <mat-list-item>

                        </mat-list-item>
                        <mat-list-item>

                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="building-information">
                <mat-card-header>
                    <mat-card-title>
                        After Upgrade
                    </mat-card-title>
                    <mat-card-subtitle>
                        Level {{ oldLevel + 1}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item
                            >Production 🪙: ${{
                                upgradeProduction
                            }}/hr</mat-list-item
                        >
                        <mat-list-item
                            >Happiness 🙂:
                            {{ upgradeHappiness }}</mat-list-item
                        >
                        <mat-list-item
                            >Upgrade Cost:
                            ${{ upgradeCost.toLocaleString('en-US') }}</mat-list-item
                        >
                        <mat-list-item
                            >Upgrade Time:
                            {{ upgradeTime }}</mat-list-item
                        >
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <button
        class="train-max-button"
        mat-flat-button
        color="accent"
        (click)="upgradeBuilding()"
    >
        Upgrade
    </button>
</div>