<h1 mat-dialog-title>Visit</h1>
<div mat-dialog-content>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Cities">
            <mat-form-field style="width: 100%" appearance="fill">
                <mat-label>Username / City Name</mat-label>
                <input matInput aria-label="City" [formControl]="cityCtrl" />
            </mat-form-field>

            <mat-list role="list">
                <button
                    mat-list-item
                    mat-dialog-close
                    *ngFor="let city of filteredCities | async"
                    (click)="visitCity(city.cityName)"
                >
                    {{ city.cityOwner }} - {{ city.cityName }}
                </button>
            </mat-list>
        </mat-tab>

        <mat-tab label="Towns">
            <mat-form-field style="width: 100%" appearance="fill">
                <mat-label>Username / Town Name</mat-label>
                <input matInput aria-label="Town" [formControl]="townCtrl" />
            </mat-form-field>

            <mat-list role="list">
                <button
                    mat-list-item
                    mat-dialog-close
                    *ngFor="let town of filteredTowns | async"
                    (click)="visitCity(town.cityName)"
                >
                    {{ town.cityOwner }} - {{ town.cityName }}
                </button>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>
